#main {
    background-color: lightblue;
    min-height: 100vh;
    margin: 5px;
    text-align: center;
}
#title {
    padding-top: 20px;
}
#form-box {
    background-color: white;
    width: 70%;
    min-height: 70vh;
    border-radius: 3px;
    margin: 20px auto;
    padding: 20px;
}
#description {
    padding: 5px
}
#input-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 10px;
    margin: 20px auto;
}
#labels {
    display: grid;
    justify-content: right;
    text-align: right
}
#input {    
    display: grid;
    justify-content: left;
}

.radio-box {
    grid-template-columns: auto 1fr !important;
    justify-items: left;
}
.check-box {
    justify-items: left;
}

