#main {
    background-color: lightblue;
    min-height: 100vh;
    margin: 5px;
    text-align: center;
}
#title {
    padding-top: 20px;
}
#form-box {
    background-color: white;
    width: 50%;
    min-height: 85vh;
    border-radius: 3px;
    margin: 20px auto;
}
#discription {
    padding: 15px
}
#input-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
}
#labels {
    display: grid;
    justify-content: right;
}
#input {
    display: grid;
    justify-content: left;
}